body{
  margin: 0;
  padding: 0;
  
}

button{
 height: 50px;
 width: 200px;
 border-color: #50A584;
 border: none;
  background-color: #50A584;
  color: #F1F1F1;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin-bottom: 10px;
  font-size: 20px;
}

button:hover{
  height: 50px;
  width: 200px;
  border-color: #50A584;
  border: none;
   background-color: white;
   color: black;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   margin-bottom: 10px;
   font-size: 20px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 30px;
  margin-left: 25%;
}

p{
  white-space: nowrap;
  display: inline-block;
}


.icons{
  white-space: nowrap;
  margin-left: 10% ;
}



h1{
  color: white;
  font-size: 60px;
  color: rgb(107, 97, 97)  ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 
    -1px -1px 0 #fff, 
    1px -1px 0 #fff,  
    -1px 1px 0 #fff,  
    1px 1px 0 #fff;
    letter-spacing: 3px;
   
}


h2{
  color: white;
}

h3{
  color: white;
  font-size: 40px;
  margin-left: 130px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
}

h4{
  font-size: 40px;
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 3px;
  margin-left: 100px;
}

h5{
  color:white;
  font-size: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position:absolute;
  margin-left: 6%;
}

hr{
  margin-top: 20%;
  margin-left: 11%;
  position: relative;
  width: 160%;
  size: 2px;
}

input {
  flex: 1;
  padding: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  
  background-color: transparent;
}



iframe{
  margin-top:20%;
  margin-left: 15%;
  position:relative;
  width: 150%;
  height: 150%;
}



ol{
  color: white;
  font-size: 30px;
  list-style-type: none;
  
}

 ul{
  list-style: none;
  position: fixed;
  margin-left: 90%;
  z-index: 2;
}

.button-container{
  display: flex;
}

.button-container button{
 margin-right: 10px;
 align-items: center;
 justify-content: center;
 display: flex;
 margin-left: 5px;
 
}

.boxicon{
  margin-left: 30px;
}



.boxicon1{
  margin-top: 5px;
}
.boxicon2{
  margin-left: 20px;
}

.custom-list1{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex ;
   position: absolute;
  text-align: start;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
}




.custom-list li{
  display: flex;
  margin-bottom: 10px;
  counter-increment: custom-counter;
  position: relative;

}

.custom-list li::before{
  content: counter(custom-counter);
  display: block;
  width: 1.5em;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 30px;

}


.container{
background-image: url('https://cdx.monstercat.com?encoding=webp&url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover%3F2ee434f2-4499-4c30-a937-4aec2b4ac1fc&width=1024'); 
background-size: cover;
background-repeat: no-repeat;
height: 410vh;
background-attachment: fixed;
margin: 0;
padding: 0;
background-position: center;
padding-top: 600px;
filter: blur(5px) brightness(38%);


}

.container2{
  display: flex;
  flex-direction: column;
  
}

.container3{
  display: flex;
  flex-direction: column;
}

.container3, p{
  margin-top: -20px;
  margin-right: 20px;
}

.container4{
  margin-left: 100px;
}


.content{
  display: flex;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 8%;
  width: 100%;
  height: 70%;
  padding-bottom: 100px;
  padding-top: 50px;
  margin-bottom: 0;
  z-index: 1;
}

.custom-size{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  width: 140px;
  height: 60px;
}

.flex-container{
  display: flex;
  margin-left:130px ;
  color: white;
}
.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  width: 80px;
  height: 60px;
}

.form-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.highlight{
  color: #50A584;
}


.highlight1{
  color: white;
  font-size: 30px;
  
}

.highlight2{
  color:#898888; 
}

.highlight3{
  color:#F1F1F1;
  font-size: 14px;
}

.highlight4{
  margin-left: 6px;
}

.image{
  margin-right: 20px;
  margin-left: 140px;
}

.menu{
  margin-bottom: 30px;
  margin-top: 20px;
  
}

.menu1{
  margin-bottom: 15px ;
  
}

.monstercat-logo{
  position:fixed;
  z-index: 2;
  width: 50px;
  margin: 20px;

}
.monstercat-logo-transparent{
  width: 26px;
  
  background: none;
}

.special-button1 {
  padding: auto;
  border:none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 70px;
}

.special-button1:hover{
  padding: auto;
  border:none;
  background-color: white;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 70px;
}

.special-list1{
  color:white;
  margin-left: 20%;
  white-space: nowrap;
}
  
  .special-list1, li{
    margin-bottom: 5px;
    letter-spacing: 2px;
    
  }


.special-list2{
color:white;
margin-left: 20%;
white-space: nowrap;
}

.special-list2, li{
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.special-list3{
color:white;
margin-left: 20%;
font-style: italic;
white-space: nowrap;
}

.special-list3, li{
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.special-text {
  position: absolute;
  margin-left: 1060px;
  white-space: nowrap;
}
.special-button {
  border: solid  1px white;
  background-color:transparent;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 150px;
}

.special-button:hover{
  border: solid  1px white;
  background-color:white;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 150px;
}




.vertical-text{
  position: absolute;
  top:64%;
  left: 220px;
  transform: translate(0, -50%) rotate(180deg);
  writing-mode:vertical-rl;
  color: aliceblue;
  font-style: italic;
  font-size: 18px;
  white-space: nowrap;
}








/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 275px;
  background-color: beige;
  color: black;
  text-align: center;
  padding: 5px 0;
  bottom: 160%;
  left: 30%;
  top: -40px;
  margin-left: -137px;
  border: none;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
}


.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: beige transparent transparent transparent;
}



.tooltip:hover .tooltiptext {
  visibility: visible;
}



.menu-container {
  display: flex;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.slide-out-menu {
  width: 0;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
}

.slide-out-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slide-out-menu li {
  padding: 15px;
  text-align: center;
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-right 0.5s;
}